<component-modal-full-content
  class="modal-full-content color-{{ settings.floating_color_scheme }}"
  data-sub-id="modal-full-content"
>
  <div class="modal-full-content__overlay" data-close-overlay></div>

  <div
    class="modal-full-content__inner"
    data-scroll-lock-ignore
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-full-content__close-btn-wrapper">
      <button type="button" class="btn-icon" data-close-overlay aria-label="{{ 'accessibility.close' | t }}">
        {% render 'theme-icon', icon: 'x', size: '1.25em' %}
      </button>
    </div>

    <div class="modal-full-content__content"></div>
  </div>
</component-modal-full-content>
