{%- unless prod.has_only_default_variant -%}
  <div
    class="
      product__block
      {%- render 'product-block-classes', block: block -%}
    "
    {{ block.shopify_attributes }}
  >
    <component-product-variant-selectors
      class="product-variant-selectors"
      data-update-variant-picker
      data-variant-id="{{ prod.selected_or_first_available_variant.id }}"
    >
      {% render 'product-variant-options', product: prod, block: block, product_form_id: product_form_id, id: id %}

      <script type="application/json" data-selected-variant>
        {{ prod.selected_or_first_available_variant | json }}
      </script>
    </component-product-variant-selectors>
  </div>
{%- endunless -%}
