<div
  class="
    page
    color-{{ section.settings.color_scheme }}
    grid
    {% render 'section-classes', settings: section.settings -%}
  "
  {% if section.settings.enable_animations %}
    data-animate-elements-on-scroll
    data-animate-delay="125"
  {% endif %}
>
  <div class="grid__content">
    <header class="grid__item--span-12 content-container">
      <div class="content-narrow">
        <h1 class="fs-4{% if section.settings.title_alignemnt == 'center' %} ta-center{% endif %}{% if section.settings.enable_animations %} animate animate--slide-in{% endif %}">
          {{ page.title | escape }}
        </h1>
      </div>
    </header>

    <div class="content-container grid__item--span-12">
      <div class="content-narrow rte{% if section.settings.enable_animations %} animate animate--slide-in{% endif %}">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main_page.name",
  "class": "page-section",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:common.header__content.content"
    },
    {
      "type": "select",
      "id": "title_alignemnt",
      "label": "t:common.title_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:common.alignment.option__left"
        },
        {
          "value": "center",
          "label": "t:common.alignment.option__center"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "t:common.header__section_spacing_and_border.content"
    },
    {
      "type": "select",
      "id": "section_spacing_top",
      "label": "t:common.top_spacing.label",
      "options": [
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "section_spacing_bottom",
      "label": "t:common.bottom_spacing.label",
      "options": [
        {
          "value": "compact",
          "label": "t:common.sizing.compact"
        },
        {
          "value": "standard",
          "label": "t:common.sizing.standard"
        },
        {
          "value": "large",
          "label": "t:common.sizing.large"
        },
        {
          "value": "x-large",
          "label": "t:common.sizing.x_large"
        },
        {
          "value": "2x-large",
          "label": "t:common.sizing.x_x_large"
        }
      ],
      "default": "large"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_border",
      "label": "t:common.show_bottom_border.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:common.header__section_animations.content"
    },
    {
      "type": "checkbox",
      "id": "enable_animations",
      "label": "t:common.enable_animations.label",
      "default": true
    }
  ]
}
{% endschema %}
